<div *ngIf="useNotLoggedInState()">
  <form (ngSubmit)="login()">
    <div>
      <label for="usernameOrEmail">Username/Email:</label>
      <input
        type="text"
        id="usernameOrEmail"
        autocomplete="on"
        name="usernameOrEmail"
        [(ngModel)]="serverData.usernameOrEmail"
        required
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        autocomplete="on"
        [(ngModel)]="serverData.password"
        required
      />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
