<div
  [ngStyle]="{
    color: isActive ? 'green' : 'red',
    'font-size': isActive ? '20px' : '16px'
  }"
>
  Dynamic text with ngStyle
</div>

<br />
<br />
<br />

<div
  [ngStyle]="{
    'background-color': isHighlighted ? 'yellow' : 'transparent',
    'font-weight': isHighlighted ? 'bold' : 'normal',
    color: isHighlighted ? 'blue' : 'black'
  }"
>
  This div will change its styles based on the value of 'isHighlighted'.
</div>

<button (click)="toggleHighlight()">Toggle Highlight</button>

<br />
<br />
<br />

<div
  [ngStyle]="{
    'background-color': isHovered ? 'yellow' : 'transparent',
    'font-weight': isHovered ? 'bold' : 'normal',
    color: isHovered ? 'blue' : 'black'
  }"
  (mouseenter)="onHover()"
  (mouseleave)="onMouseLeave()"
>
  Hover over this div to change its styles.
</div>

<br />
<br />
<br />

<!-- example.component.html -->

<div [ngStyle]="stylesObject">
  This div will have dynamic styles applied based on user interactions and
  component data.
</div>

<button (click)="updateUserStyles()">Update Styles</button>

<br />
<br />
<br />

<div *ngFor="let product of products">
  <h3>{{ product.name }}</h3>
  <span [ngStyle]="{ color: product.stock > 0 ? 'green' : 'red' }">
    Stock: {{ product.stock }}
  </span>
  <span [ngStyle]="{ color: product.stock > 0 ? 'green' : 'red' }">
    Price: {{ product.price }}
  </span>
  <span>Category: {{ product.category }}</span>
  <div
    [ngStyle]="{
      'background-color': getRatingColor(product.rating),
      color: getRatingTextColor(product.rating)
    }"
  >
    Rating: {{ product.rating }}
  </div>
</div>

<br />
<br />
<br />

<div [ngClass]="getClass()">Dynamic Class</div>

<br />
<br />
<br />

<div [ngClass]="{ active: isActive, error: isError }">
  <!-- Content inside the div with dynamic classes -->
  Dynamic Classes Applied
</div>

<br />
<br />
<br />

<!-- Buttons to toggle component properties -->
<button (click)="toggleActiveState()">Toggle Active</button>
<button (click)="toggleErrorState()">Toggle Error</button>

<br />
<br />
<br />

<!-- Using method getClassObject() -->
<div [ngClass]="getClassObject()">NgClass bound to method getClassObject()</div>

<!-- Using method getClassString() -->
<div [ngClass]="getClassString()">NgClass bound to method getClassString()</div>

<br />
<br />
<br />

<div [ngClass]="classesToApply">Multiple Classes Applied</div>
<button (click)="toggleClass('class1')">Toggle Class 1</button>
<button (click)="toggleClass('class2')">Toggle Class 2</button>
<button (click)="toggleClass('class3')">Toggle Class 3</button>

<br />
<br />
<br />
<div
  [ngClass]="{ active: isActive, error: isError }"
  [ngClass]="{ 'additional-class': true }"
  [ngClass]="otherClasses"
>
  NgClass with Template Reference Variable
</div>
