.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.item-container {
  border: 1px solid #ddd;
  border-radius: 5px; /* Add rounded corners */
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff; /* Set background color */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.item-container h2 {
  font-size: 18px; /* Adjust heading size */
  margin-bottom: 5px; /* Add some space below heading */
}

.item-container p {
  margin-bottom: 0; /* Remove default bottom margin */
  font-weight: bold; /* Make price bold */
}

.item-container button {
  background-color: #3f51b5; /* Set button background color */
  color: #fff; /* Set button text color */
  border: none;
  padding: 5px 10px;
  border-radius: 3px; /* Add rounded corners to button */
  cursor: pointer; /* Indicate clickable element */
}

.item-container button:hover {
  background-color: #283776; /* Change button color on hover */
}
