<!-- user-data.component.html -->
<div class="main-page">
  <div class="login-page" *ngIf="isUserNotLoggedIn()">
    <nav class="top-bar">
      <h1>Welcome</h1>
    </nav>
    <section class="login-form-container">
      <div class="login-form">
        <form
          *ngIf="isInitialLoginView(); else loginFailedTemplate"
          (ngSubmit)="handleLogin()"
          #loginForm="ngForm"
          class="form"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              [(ngModel)]="loginCredentials.email"
              #usernameField="ngModel"
              required
            />
            <div
              *ngIf="usernameField.invalid && usernameField.touched"
              class="text-danger"
            >
              Username is required
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              [(ngModel)]="loginCredentials.password"
              #passwordField="ngModel"
              required
            />
            <div
              *ngIf="passwordField.invalid && passwordField.touched"
              class="text-danger"
            >
              Password is required
            </div>
          </div>

          <div class="button-container">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
          </div>
        </form>

        <ng-template #loginFailedTemplate>
          <label for="login-try-again" class="login-try-again">
            Wrong data entered
            <button id="login-try-again" type="button" (click)="resetLogin()">
              Login Again
            </button>
          </label>
        </ng-template>
      </div>
    </section>
    <div class="background">
      <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </div>
  </div>
  <div class="dashboard-page" *ngIf="isUserLoggedIn()">
    <nav class="dashboard-nav">
      <div class="row">
        <div
          class="col-lg-10 col-md-8 col-sm-6 d-lg-flex justify-content-start align-items-center"
        >
          <div
            class="heading-container h-100 w-lg-100 d-flex justify-content-center align-items-center"
          >
            <h1>Welcome {{ authResponse.FullName }}</h1>
          </div>
        </div>
        <div
          class="col-lg-2 col-md-4 col-sm-6 logout-button-container align-items-center"
        >
          <button type="button" class="btn btn-danger" (click)="handleLogout()">
            Logout
          </button>
        </div>
      </div>
    </nav>
    <div class="list-and-new-form-container">
      <div class="row">
        <h1>List of all staff</h1>
      </div>
    </div>
  </div>
</div>
