.mainbody {
  height: 100%;
  margin: 0%;
  padding: 0%;
  width: 100%;
  .loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .topbar {
      flex: 0 0 20%; /* Take up 30% of the available height */
      background-color: #f0f0f0;
      width: 100%;
      padding-block-start: 1%;
      padding-inline-start: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: flex 0.5s ease; /* Smooth transition for flex property change */
    }

    @media only screen and (max-width: 600px) {
      .topbar {
        flex: 0 0 25%;
      }
    }

    .loginForm {
      flex: 1; /* Take up remaining space */
      background-color: #ffffff;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
