<h1>I am the App component</h1>
<hr/>
<div class="002">
  <!-- app-app0201 -->
  <!-- <App0201></App0201> -->

  <!-- app-app0202 -->
  <!-- <App0202></App0202> -->

  <!-- server App-server0301 -->
  <!-- <App-server0301></App-server0301> -->

  <!-- server App-server0302 -->
  <!-- <App-server0302></App-server0302> -->

  <!-- AttributeSelector04Component -->
  <!-- <div app-attribute-selector04></div> -->

  <!-- ClassSelector05Component -->
  <!--  <div class="app-class-selector05"></div>-->

  <!--  Documnet06Component-->
  <!--  <app-documnet06></app-documnet06>-->

  <!--  StringInterpolation07Component-->
  <!--  <app-string-interpolation07></app-string-interpolation07>-->

  <!--  PropertyBinding0701Component-->
  <!--  <app-property-binding0701></app-property-binding0701>-->

  <!--  EventBinding0702Component-->
  <!--  <app-event-binding0702></app-event-binding0702>-->
  <!--  PassingData0703Component-->
  <app-passing-data0703></app-passing-data0703>

</div>
