<br />
<br />
<br />

<p>Basics use of for by array with index</p>
<ul>
  <li *ngFor="let item of Basicitems01; let i = index">
    {{ i + 1 }}. {{ item }}
  </li>
</ul>

<br />
<br />
<br />

<p>Basics use of for by array with object</p>
<ul>
  <li *ngFor="let fruitKey of getFruitKeys()">
    {{ fruitKey }} - Color: {{ fruits[fruitKey].color }}, Taste:
    {{ fruits[fruitKey].taste }}
  </li>
</ul>

<br />
<br />
<br />

<p>
  The purpose of tracking changes in ngFor is to optimize the rendering
  performance of Angular applications, especially when dealing with large lists
  or collections. By default, Angular re-renders the entire DOM element
  associated with each item in the list whenever the list changes, which can be
  inefficient and lead to poor performance.
</p>
<p>
  To address this, Angular provides the <code>trackBy</code> option for
  <code>ngFor</code>. By using <code>trackBy</code>, Angular can track the
  identity of each item in the list using a unique identifier, typically an
  object property like an ID. When the list changes, Angular can efficiently
  update the DOM by reusing existing DOM elements where possible instead of
  recreating them from scratch.
</p>
<ul>
  <li *ngFor="let item of items; trackBy: trackByFn">
    {{ item.name }}
  </li>
</ul>

<p>
  With this setup, Angular can efficiently track changes to the items in the
  array, improving performance when items are added, removed, or reordered.
</p>

<br />
<br />
<br />

<p>
  This demonstrates how to use nested ngFor loops in Angular to iterate over a
  two-dimensional array and generate dynamic HTML based on its elements.
</p>
<table>
  <tr *ngFor="let row of twoDArray">
    <td *ngFor="let item of row">{{ item }}</td>
  </tr>
</table>

<br />
<br />
<br />

<label for="userName">UserName</label>
<input type="text" name="userName" id="userName" [(ngModel)]="userName" />
<button type="button" (click)="submitUserName()">Submit</button>
<br />
<br />
<ul>
  <li *ngFor="let user of userNameList">{{ user }}</li>
</ul>

<br />
<br />
