<div>
  <h1>chapter 01</h1>
  <!-- B001BasicComponentComponent -->
  <!-- <B001BasicComponent></B001BasicComponent> -->

  <!-- B002AttributeSelectorComponent -->
  <!-- <div B002AttributeSelector></div> -->

  <!-- B003ClassSelectorComponent -->
  <!-- <div class="B003ClassSelector"></div> -->

  <!-- B004OptionalAssignmentComponent -->
  <!-- <B004OptionalAssignment></B004OptionalAssignment> -->

  <!-- B005stringInterpolationComponent -->
  <!-- <B005stringInterpolation></B005stringInterpolation> -->

  <!-- B006PropertyBindingComponent -->
  <!-- <B006PropertyBinding></B006PropertyBinding> -->

  <!-- B007EventBindingComponent -->
  <!-- <B007EventBinding></B007EventBinding> -->

  <!-- B008PassingDataHtmlToTsComponent -->
  <!-- <B008PassingDataHtmlToTs></B008PassingDataHtmlToTs> -->

  <!-- B009twoWaybindingComponent -->
  <!-- <B009twoWaybinding></B009twoWaybinding> -->

  <!-- B010CombiningAllTypesOfBindingsComponent -->
  <!-- <B010CombiningAllTypesOfBindings></B010CombiningAllTypesOfBindings> -->

  <!-- B011CustomDirectiveDirective -->
  <!-- <h2 B011CustomDirective>B011CustomDirectiveDirective</h2> -->

  <!-- B012BNgIfDirectiveComponent -->
  <!-- <B012BNgIfDirective></B012BNgIfDirective> -->

  <!-- B013NgIfElseComponent -->
  <!-- <B013NgIfElse></B013NgIfElse> -->

  <!-- B014NgSwitchComponent -->
  <!-- <B014NgSwitch></B014NgSwitch> -->

  <!-- B015NgClassComponent -->
  <!-- <B015NgClass></B015NgClass> -->

  <!-- B016NgStyleComponent -->
  <!-- <B016NgStyle></B016NgStyle> -->

  <!-- B017NgForComponent -->
  <!-- <B017NgFor></B017NgFor> -->

  <!-- B018AssignmentComponent -->
  <B018Assignment></B018Assignment>
</div>
